/*
wood brown: A89F68;
army green: 41521F;
*/

/*estilos BIENVENIDA*/
.seccion-1{
    background-image: url(../img/portada.jpg);
    height: 700px;
    background-size: cover;
}

.texto-bienvenida{
	padding: 16em 2em;
	color: white;
}

/*.navbar-brand{
	margin-left: 60px;
	color: white;
	text-shadow: 1px 2px 2px black;
}*/

.nav{
	margin-right: 60px;
}

ul a{
	color: white;
	text-shadow: 1px 2px 2px black;
}

#bienvenida .btn-default{
	background-color: #41521F;
	border:none;
	color: white;
}

#bienvenida .btn-default:hover{
	background-color: #A89F68;
}

/*estilos SECCION2*/
#informacion{
	margin: 2em auto;
}

 .imagen-full{
 	width: 100%;
 }

.titulo-info{
	color:grey;
	font-size: 1em;
	font-weight: 700;
}

.encabezado-info{
	color:#A89F68;
	font-weight: 700;
}

.subtitulo-info{
	color:#A89F68;
	font-weight: 700;
	font-size: 1.2em;
}

#informacion p{
	color:grey;
}

#informacion a{
	color:#A89F68;
	font-weight: 700;
}

/*seccion SAVE*/
#save{
	background-color: #A89F68;
	padding: 8em 0;
}

#save img{
	width: 100%;
	border:solid 8px whitesmoke;
}

.titulo-save{
	color:white;
	font-size: 1em;
	font-weight: 700;
	padding-bottom: 1em;
}

.subtitulo-save{
	color:#41521F;
	font-weight: 700;
	font-size: 1.5em;
}

#save p{
	color:white;
}

#save .btn-default{
	background-color: #41521F;
	border:none;
	color: white;
}

#save .btn-default:hover{
	background-color: grey;
}

.texto-save{
	margin-top: -20px;
}

/*seccion SAVE*/
.seccion-4{
	background-image: url(../img/all.jpg);
    height: 700px;
    background-size: cover;
    padding: 8em 0;
    color:white;
}

.seccion-4 h3{
	font-size: 1em;
}

.comillas-text{
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 700;
	text-shadow: 1px 2px 2px black;
}